
 







 

<!-- <h1>Parent Input Value {{parentInput.value}}</h1> -->
<!-- <app-search [parentValue]="parentInput.value" ></app-search> -->








<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">GoPlaces</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="/static">Home</a></li>
        <li><a href="#">About</a></li>
      </ul>
     <div class="pull-left">
      <table>
        <td><input  class="form-control" #crazy [(ngModel)]="place" placeholder="search" id="searchInput"></td>
        <td><button (click)="searchPlace(place)" routerLink="/search" type="submit" class="btn btn-default">find</button></td>
      
      </table>  
    </div>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
  <br>                  
<router-outlet></router-outlet>

<app-search [parentValue]=images ></app-search>
    

































